PHONEPE_ENV=sandbox
PHONEPE_MERCHANT_ID=
PHONEPE_CLIENT_ID=
PHONEPE_CLIENT_SECRET=
PHONEPE_SALT_KEY=
PHONEPE_SALT_INDEX=1
PHONEPE_BASE_URL=https://api-preprod.phonepe.com/apis/pg-sandbox
ZAFIRO_SMTP_HOST=smtp.gmail.com
ZAFIRO_SMTP_PORT=587
ZAFIRO_SMTP_ENCRYPTION=tls
ZAFIRO_SMTP_USERNAME=
ZAFIRO_SMTP_PASSWORD=
ZAFIRO_SMTP_FROM=
ZAFIRO_SMTP_FROM_NAME=Zafiro Casa Luxury Living
